.header-section {
    position: relative;
    background-image: url('/Images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    .main-content {
        margin-block: 12rem;
    }

    .gradient-sphere {
        position: absolute;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        filter: blur(60px);
        opacity: 0.2;
    }

    .sphere-1 {
        background: radial-gradient(circle, #B71796, transparent);
        left: 20%;
        top: 0%;
        animation: move1 19s ease-in-out infinite;
    }

    .sphere-2 {
        background: radial-gradient(circle, #1565E3, transparent);
        left: 60%;
        top: 20%;
        animation: move2 19s ease-in-out infinite;
    }

    .sphere-3 {
        background: radial-gradient(circle, #0189F5, transparent);
        left: 40%;
        top: 10%;
        animation: move3 19s ease-in-out infinite;
    }

}

.navbar {
    .theme-switch {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-inline-start: 1rem;

        .form-check-input {
            outline: none;
            width: 60px;
            height: 30px;
            background-color: #ccc;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.4s;

            &:checked {
                background-color: $primary-color;
                outline: none;
            }
        }

        .form-check-label {
            position: absolute;
            left: 6px;
            top: 5px;
            font-size: 1.1rem;
            color: #fff;
            transition: transform 0.3s ease;

            .fa-sun,
            .fa-moon {
                display: inline-block;
            }
        }

        input:checked+label {
            transform: translateX(30px);
            color: #f1c40f;
        }
    }
}

@keyframes move1 {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(60%, -30%);
    }

    50% {
        transform: translate(-40%, 40%);
    }

    75% {
        transform: translate(30%, 60%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(-50%, 30%);
    }

    50% {
        transform: translate(80%, -40%);
    }

    75% {
        transform: translate(-20%, 50%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes move3 {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(40%, 20%);
    }

    50% {
        transform: translate(-60%, -50%);
    }

    75% {
        transform: translate(30%, 30%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}


.slider-container {
    h3 {
        line-height: 24px;
        font-weight: 900;
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: transparent;
    white-space: nowrap;
    position: relative;

    .logos-slider {
        display: inline-block;
        animation: 35s slide infinite linear;

        img {
            height: 30px;
            margin: 0 40px;
            width: auto;
            filter: var(--slider-filter);
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    // 

}

.slider-container {
    &::after {
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }

}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.navbar-toggler {
    border: none !important;
    outline: none !important;

    &:focus {
        box-shadow: none !important;
    }
}

.navbar-nav {
    .nav-item {
        padding-inline: 14px;

        a {
            color: var(--text-color);
            font-weight: 600;

            &.active {
                color: var(--text-color);
            }
        }
    }
}

.hero-section {

    h1,
    h2 {
        text-transform: capitalize;
        font-weight: 700;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    .paragraph {
        color: var(--header-text-color);
        font-size: 20px;
    }

}


.about-section {

    .lottie-animation {
        cursor: pointer;
        width: 450px;
        height: auto
    }

    .about {
        @include fadeInUp;
    }

    h2 {
        font-weight: 700;
    }

    div {
        color: var(--primary-text-color);
        letter-spacing: 1.5px;

    }
}

@media screen and (max-width: 992px) {
    .about-section {
        .lottie-animation {
            cursor: pointer;
            width: 100%;
            height: auto
        }
    }

    .features-section {
        .feature {
            flex-direction: column;
        }
    }
}

.navbar-toggler-icon {
    filter: var(--slider-filter);
}


@media (max-width: 991.98px) {

    .mobile-fullscreen-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000d2;
        z-index: 9999;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        ul {
            &.navbar-nav {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin-inline: auto;
                justify-content: center;
            }
        }
    }

    .navbar-toggler-icon {
        background-image: none;
        &::before {
            content: '✕';
            font-size: 2rem;
            color: white;
            display: none;
        }
    }

    .navbar-toggler {
        z-index: 10000;
        position: relative;
        transition: all 0.3s ease;

        .navbar-toggler {
            filter: brightness(0) invert(1);
        }
    }

    body {
        &.nav-open {
            overflow: hidden;

            .navbar-toggler {
                position: fixed;
                top: 20px;
                right: 20px;
                background: transparent;
                border: none;
            }

            .navbar-toggler-icon {
                background: transparent;
                &::before {
                    display: block;
                }
            }
        }
    }

    .navbar-nav {
        .nav-item {
            a {
                color: #fff;
                font-size: 20px !important;

                &.active {
                    color: #fff;
                }
            }
        }
    }

    .close-icon {
        font-size: 2rem;
        color: #fff;
    }

}