@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.primary-button {
  position: relative;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  border: none;
  padding: 8px 40px !important;
  overflow: hidden;
  border-radius: 5px !important;
  font-weight: 600 !important;
  cursor: pointer;
  z-index: 1;
}
.primary-button::before, .primary-button::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.primary-button::before {
  width: 100%;
  left: 0;
  background-color: var(--text-color);
  border-radius: 23px;
  z-index: -1;
}
.primary-button::after {
  width: 0;
  left: 50%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: translateX(-50%);
  z-index: 2;
}
.primary-button:hover {
  color: var(--text-color) !important;
  background-color: transparent !important;
}
.primary-button:hover::before {
  transform: scaleX(0);
}
.primary-button:hover::after {
  width: 100%;
  border-color: var(--text-color);
  transition-delay: 0.2s;
}
.primary-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(41, 35, 59, 0.4);
}

.outline-button {
  background-color: transparent !important;
  padding: 4px 40px !important;
  border-radius: 5px !important;
  border: 1px solid var(--text-color) !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
  position: relative;
}
.outline-button::before {
  width: 15px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.5s;
  transition-delay: 0.1s;
  background: var(--text-color);
  content: "";
}
.outline-button:hover {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}
.outline-button:hover::before {
  left: 100% !important;
  transform: translate(-100%, -50%);
  background-color: var(--bg-color);
}

.secondary-button {
  background-color: #6B76FE !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 14px !important;
  border-radius: 5px !important;
  font-weight: 800 !important;
  padding: 10px 12px !important;
}

.primary-tab {
  background: var(--tab-bg);
  color: var(--tab-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: var(--tab-border-radius);
  border: var(--tab-border-width) solid var(--tab-border);
  padding: 8px 40px;
  position: relative;
  display: inline-block;
  margin-block: 1.75em;
}

.white-btn {
  color: #0098EA;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 20px;
  border: none;
}

.header-section {
  position: relative;
  background-image: url("/Images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.header-section .main-content {
  margin-block: 12rem;
}
.header-section .gradient-sphere {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.2;
}
.header-section .sphere-1 {
  background: radial-gradient(circle, #B71796, transparent);
  left: 20%;
  top: 0%;
  animation: move1 19s ease-in-out infinite;
}
.header-section .sphere-2 {
  background: radial-gradient(circle, #1565E3, transparent);
  left: 60%;
  top: 20%;
  animation: move2 19s ease-in-out infinite;
}
.header-section .sphere-3 {
  background: radial-gradient(circle, #0189F5, transparent);
  left: 40%;
  top: 10%;
  animation: move3 19s ease-in-out infinite;
}

.navbar .theme-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-inline-start: 1rem;
}
.navbar .theme-switch .form-check-input {
  outline: none;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.navbar .theme-switch .form-check-input:checked {
  background-color: #29233B;
  outline: none;
}
.navbar .theme-switch .form-check-label {
  position: absolute;
  left: 6px;
  top: 5px;
  font-size: 1.1rem;
  color: #fff;
  transition: transform 0.3s ease;
}
.navbar .theme-switch .form-check-label .fa-sun,
.navbar .theme-switch .form-check-label .fa-moon {
  display: inline-block;
}
.navbar .theme-switch input:checked + label {
  transform: translateX(30px);
  color: #f1c40f;
}

@keyframes move1 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(60%, -30%);
  }
  50% {
    transform: translate(-40%, 40%);
  }
  75% {
    transform: translate(30%, 60%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes move2 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-50%, 30%);
  }
  50% {
    transform: translate(80%, -40%);
  }
  75% {
    transform: translate(-20%, 50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes move3 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(40%, 20%);
  }
  50% {
    transform: translate(-60%, -50%);
  }
  75% {
    transform: translate(30%, 30%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.slider-container h3 {
  line-height: 24px;
  font-weight: 900;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}
.logos .logos-slider {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.logos .logos-slider img {
  height: 30px;
  margin: 0 40px;
  width: auto;
  filter: var(--slider-filter);
}
.logos .logos-slider:hover {
  animation-play-state: paused;
}

.slider-container::after {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-nav .nav-item {
  padding-inline: 14px;
}
.navbar-nav .nav-item a {
  color: var(--text-color);
  font-weight: 600;
}
.navbar-nav .nav-item a.active {
  color: var(--text-color);
}

.hero-section h1,
.hero-section h2 {
  text-transform: capitalize;
  font-weight: 700;
}
.hero-section h1 {
  font-size: 3rem;
}
.hero-section h2 {
  font-size: 2.6rem;
}
.hero-section .paragraph {
  color: var(--header-text-color);
  font-size: 20px;
}

.about-section .lottie-animation {
  cursor: pointer;
  width: 450px;
  height: auto;
}
.about-section .about {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.about-section .about.visible {
  opacity: 1;
  transform: translateY(0);
}
.about-section h2 {
  font-weight: 700;
}
.about-section div {
  color: var(--primary-text-color);
  letter-spacing: 1.5px;
}

@media screen and (max-width: 992px) {
  .about-section .lottie-animation {
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  .features-section .feature {
    flex-direction: column;
  }
}
.navbar-toggler-icon {
  filter: var(--slider-filter);
}

@media (max-width: 991.98px) {
  .mobile-fullscreen-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8235294118);
    z-index: 9999;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .mobile-fullscreen-navbar ul.navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    justify-content: center;
  }
  .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-toggler-icon::before {
    content: "✕";
    font-size: 2rem;
    color: white;
    display: none;
  }
  .navbar-toggler {
    z-index: 10000;
    position: relative;
    transition: all 0.3s ease;
  }
  .navbar-toggler .navbar-toggler {
    filter: brightness(0) invert(1);
  }
  body.nav-open {
    overflow: hidden;
  }
  body.nav-open .navbar-toggler {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
  }
  body.nav-open .navbar-toggler-icon {
    background: transparent;
  }
  body.nav-open .navbar-toggler-icon::before {
    display: block;
  }
  .navbar-nav .nav-item a {
    color: #fff;
    font-size: 20px !important;
  }
  .navbar-nav .nav-item a.active {
    color: #fff;
  }
  .close-icon {
    font-size: 2rem;
    color: #fff;
  }
}
.footer {
  background-color: #000000;
  color: #ffffff;
}
.footer .nav-link {
  color: #ffffff !important;
}
.footer #newsletter1 {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}
.footer #newsletter1::-moz-placeholder {
  color: #A7A3B5;
  font-size: 14px;
}
.footer #newsletter1::placeholder {
  color: #A7A3B5;
  font-size: 14px;
}
.footer .input-group {
  background-color: #ffffff;
  border-radius: 5px;
}
.footer .social-link svg {
  color: #ffffff;
}

.primary-button {
  position: relative;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  border: none;
  padding: 8px 40px !important;
  overflow: hidden;
  border-radius: 5px !important;
  font-weight: 600 !important;
  cursor: pointer;
  z-index: 1;
}
.primary-button::before, .primary-button::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.primary-button::before {
  width: 100%;
  left: 0;
  background-color: var(--text-color);
  border-radius: 23px;
  z-index: -1;
}
.primary-button::after {
  width: 0;
  left: 50%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: translateX(-50%);
  z-index: 2;
}
.primary-button:hover {
  color: var(--text-color) !important;
  background-color: transparent !important;
}
.primary-button:hover::before {
  transform: scaleX(0);
}
.primary-button:hover::after {
  width: 100%;
  border-color: var(--text-color);
  transition-delay: 0.2s;
}
.primary-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(41, 35, 59, 0.4);
}

.outline-button {
  background-color: transparent !important;
  padding: 4px 40px !important;
  border-radius: 5px !important;
  border: 1px solid var(--text-color) !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
  position: relative;
}
.outline-button::before {
  width: 15px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.5s;
  transition-delay: 0.1s;
  background: var(--text-color);
  content: "";
}
.outline-button:hover {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}
.outline-button:hover::before {
  left: 100% !important;
  transform: translate(-100%, -50%);
  background-color: var(--bg-color);
}

.secondary-button {
  background-color: #6B76FE !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 14px !important;
  border-radius: 5px !important;
  font-weight: 800 !important;
  padding: 10px 12px !important;
}

.primary-tab {
  background: var(--tab-bg);
  color: var(--tab-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: var(--tab-border-radius);
  border: var(--tab-border-width) solid var(--tab-border);
  padding: 8px 40px;
  position: relative;
  display: inline-block;
  margin-block: 1.75em;
}

.white-btn {
  color: #0098EA;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 20px;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #29233B;
  --toggle-bg: #ccc;
  --toggle-icon: #333;
  --header-text-color: #655A5A;
  --primary-text-color: #4E4763;
  --secondary-text-color: #25262A;
  --accordion-text-color: #29233B;
  --block-bg: #EBECFF;
  --description-color: #555555;
  --inner-bg: #F7F9FB;
  --inner-text-color: #04060B;
  --inner-span-color: #728A96;
  --slider-filter: none;
  --gradient-color: linear-gradient(116.98deg, #B71796 8.67%, #1565E3 52.91%, #0189F5 86.43%);
  --tab-bg: #E3F8FA;
  --tab-color: #00B0C6;
  --tab-border-radius: 7px;
  --tab-border-width: 0px;
  --tab-border: transparent;
  --chart-bg: linear-gradient(180deg, rgba(241, 235, 255, 0.4) 0%, rgba(217, 239, 255, 0.4) 100%);
  --chart-bg-blur: 20px;
  --chart-tab-bg: #fff;
}

body {
  font-family: Roboto !important;
  overflow-x: hidden;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: all 0.4s ease;
}
body.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --toggle-bg: #333;
  --toggle-icon: #f1c40f;
  --header-text-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #fff;
  --accordion-text-color: #fff;
  --block-bg: linear-gradient(180deg, rgba(241, 235, 255, 0.4) 0%, rgba(217, 239, 255, 0.4) 100%);
  --description-color: #fff;
  --inner-bg: #3F3F3F;
  --inner-text-color: #fff;
  --inner-span-color: #fff;
  --slider-filter: brightness(0) invert(1);
  --gradient-color: linear-gradient(105.39deg, #9CF5F1 -1.87%, #A38BF2 116.92%);
  --tab-bg: linear-gradient(94.14deg, rgba(153, 153, 153, 0.28) 5.9%, rgba(255, 255, 255, 0.28) 54.76%);
  --tab-color: #fff;
  --tab-border-radius: 44px;
  --tab-border-width: 0.3px;
  --tab-border: #999999;
  --chart-bg: #3F3F3F99;
  --chart-bg-blur: 70px;
  --chart-tab-bg: #FFFFFF36;
}
body #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  overflow-x: hidden;
}

.aurora-text {
  position: relative;
  font-weight: 800;
  color: #fff;
  background: var(--gradient-color);
  background-size: 400% 400%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: auroraMove 8s ease infinite;
}

@keyframes auroraMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-text {
  background: var(--gradient-color);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.rank-section.in-view .text {
  overflow: hidden;
}
.rank-section h2 span {
  font-size: 40px;
}
.rank-section .inner-section {
  background: var(--inner-bg);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}
.rank-section .inner-section::after, .rank-section .inner-section::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  transition: width 0.5s ease;
  background: var(--gradient-color);
}
.rank-section .inner-section::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}
.rank-section .inner-section::before {
  top: 0;
  left: 0;
  transform-origin: left;
}
.rank-section .inner-section:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.rank-section .inner-section:hover::before, .rank-section .inner-section:hover::after {
  width: 100%;
}
.rank-section .inner-section span {
  color: var(--inner-span-color);
  font-size: 21px;
}
.rank-section .inner-section .value {
  color: var(--inner-text-color);
  line-height: 28px;
  font-size: 27px;
  font-weight: 400;
}
.rank-section .inner-section .rank-value {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.service-player {
  justify-self: center;
}

.powered-text {
  color: var(--inner-span-color);
  font-size: 18px;
}
.powered-text span {
  font-size: 15px !important;
}

.graph-section .image {
  height: 35px;
}
.graph-section .graph-text {
  color: #0088CC !important;
  font-size: 18px !important;
}

.roadmap-section {
  background: url("/Images/timeline.png") no-repeat;
  background-position: right center;
}
.roadmap-section h1 {
  font-weight: 800;
  font-size: 40px;
}
.roadmap-section p {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 36px;
}
.roadmap-section .roadmap {
  padding-top: 200px;
  padding-bottom: 100px;
}
.roadmap-section .roadmap .custom-list {
  list-style: none;
  padding-left: 0;
  position: relative;
  display: inline-flex;
  right: -1rem;
  top: -5rem;
}
.roadmap-section .roadmap .custom-list li {
  display: flex;
  flex-direction: column;
  background: url("/Images/list-icon.png") no-repeat;
  background-position: top center;
  background-size: 20px 20px;
  text-align: center;
  padding-top: 30px;
  padding-inline: 40px;
  position: relative;
  margin-bottom: 10px;
}
.roadmap-section .roadmap .custom-list li .dates {
  font-weight: 800;
  font-size: 15px;
}
.roadmap-section .roadmap .custom-list li span {
  font-size: 10px;
}
.roadmap-section .roadmap .custom-list li:first-child {
  top: 1em;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:first-child.visible {
  opacity: 1;
  transform: translateY(0);
}
.roadmap-section .roadmap .custom-list li:nth-child(2) {
  top: 3em;
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:nth-child(2).visible {
  opacity: 1;
  transform: translateY(0);
}
.roadmap-section .roadmap .custom-list li:nth-child(3) {
  top: 2em;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:nth-child(3).visible {
  opacity: 1;
  transform: translateY(0);
}
.roadmap-section .roadmap .custom-list li:nth-child(4) {
  bottom: 0.8em;
  opacity: 0;
  transform: translateY(125px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:nth-child(4).visible {
  opacity: 1;
  transform: translateY(0);
}
.roadmap-section .roadmap .custom-list li:nth-child(5) {
  bottom: 2em;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:nth-child(5).visible {
  opacity: 1;
  transform: translateY(0);
}
.roadmap-section .roadmap .custom-list li:last-child {
  bottom: 0em;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.4s;
}
.roadmap-section .roadmap .custom-list li:last-child.visible {
  opacity: 1;
  transform: translateY(0);
}

.chart-section {
  z-index: 2;
  position: relative;
}
.chart-section .inner-content {
  padding: 64px;
  background: url("/Images/abstract.png"), var(--chart-bg);
  -webkit-backdrop-filter: blur(var(--chart-bg-blur));
          backdrop-filter: blur(var(--chart-bg-blur));
  border-radius: 64px;
  position: relative;
  z-index: 3;
}
.chart-section h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.chart-section .description {
  font-size: 15px;
}
.chart-section::after, .chart-section::before {
  content: "";
  position: absolute;
  border: 2px solid;
  border-color: rgba(81, 102, 133, 0.1);
  background: linear-gradient(156.17deg, rgba(180, 138, 250, 0.9) 2.34%, rgb(236, 233, 233) 34.04%, 67.64%, #9686DF 93.2%);
  border-radius: 50%;
}
.chart-section::after {
  top: 0;
  left: -10%;
  height: 270px;
  width: 270px;
  z-index: 1;
}
.chart-section::before {
  bottom: -5%;
  right: -5%;
  height: 180px;
  width: 180px;
  z-index: 4;
  opacity: 1;
  background: linear-gradient(156.17deg, rgba(180, 138, 250, 0.9) 2.34%, rgb(236, 233, 233) 34.04%, 67.64%, #9686DF 93.2%);
}

.apexcharts-legend {
  position: relative;
}
.chart-border {
  border: 1px dashed #000;
  padding: 23px;
  height: 320px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.pie-head {
  background: #fff;
  padding: 54px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
}

.label-listing .list-item {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2509803922);
  border-width: 6px;
  border-radius: 12px;
  padding: 12px;
  border-left-style: solid;
  background-color: var(--chart-tab-bg);
  -webkit-backdrop-filter: var(--chart-bg-blur);
          backdrop-filter: var(--chart-bg-blur);
  transition: transform 0.3s ease;
  transform: scale(0.9);
}
.label-listing .list-item .percent-item {
  font-size: 16px;
  font-weight: 800;
}
.label-listing .list-item .percent-description {
  font-size: 14px;
  font-weight: 400;
}
.label-listing .list-item:hover {
  transform: scale(1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.labels div[aria-label="A chart."] svg g path:last-child {
  stroke-width: 6;
}

.versions-section {
  color: #fff;
}
.versions-section .in-view .ver-in-view .tab {
  animation: bulge 0.25s ease-in-out;
}
.versions-section .out-of-view .ver-in-view .tab {
  transform: rotateX(90deg);
  transform-origin: bottom;
}
@keyframes bulge {
  50% {
    transform: scale(1.5);
  }
}
.versions-section h1 {
  font-size: 49px;
  font-weight: 800;
}
.versions-section .descrip {
  color: var(--inner-text-color);
  font-size: 22px;
}
.versions-section h2 {
  font-weight: 300;
  font-size: 28px;
}
.versions-section .description {
  font-weight: 300;
  font-size: 21px;
}
.versions-section .v1-section {
  background: linear-gradient(93.7deg, #707AFF 0.25%, #94A3FF 100%);
  border-radius: 25px;
  padding: 32px 0 0 25px;
}
.versions-section .v2-section {
  background: linear-gradient(93.63deg, #1093FD 2.41%, #7AD4FD 99.71%);
  border-radius: 25px;
  padding: 32px 0 0 25px;
}
.versions-section .image img {
  width: 100%;
  height: auto;
}
.versions-section .tab {
  background: rgba(255, 255, 255, 0.0705882353);
  padding: 6px 23px;
  display: block;
  border-radius: 13px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.solution-section {
  background: var(--chart-bg);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 3rem !important;
}
.solution-section .benefits-section h1 {
  font-weight: 700;
  font-size: 55px;
}
.solution-section .benefits-section p {
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--primary-text-color);
}
.solution-section .benefits-section .btn {
  font-size: 14px;
}
.solution-section li {
  font-size: 20px;
  line-height: 50px;
}
.solution-section .accordion .accordion-item {
  border-color: var(--accordion-text-color);
  border-top: 1px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background: none;
  border-radius: 0;
}
.solution-section .accordion .accordion-item:first-child {
  border-top: none;
}
.solution-section .accordion .accordion-item:focus {
  box-shadow: none;
  outline: none;
}
.solution-section .accordion .accordion-body {
  color: var(--primary-text-color);
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
}
.solution-section .accordion .accordion-button {
  color: var(--accordion-text-color);
  background: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  padding-block: 30px;
}
.solution-section .accordion .accordion-button:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
.solution-section .accordion .accordion-button::after {
  background: none;
}
.solution-section .accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.solution-section .accordion .accordion-button:not(.collapsed)::after {
  background-image: none;
}

.services-section::before {
  content: "";
  position: absolute;
  bottom: 35%;
  right: -10%;
  height: 200px;
  background: url("/Images/about.png") no-repeat;
  width: 200px;
  z-index: 1;
  opacity: 1;
}
.services-section .our-services {
  opacity: 0;
  transform: translateY(1);
  transition: opacity 1 ease, transform 1 ease;
  transition-delay: 1s;
}
.services-section .our-services.visible {
  opacity: 1;
  transform: translateY(0);
}

.listing {
  padding-inline: 3rem !important;
}

.benefits .fade-left {
  opacity: 0;
}
.benefits .fade-right {
  opacity: 0;
}
.benefits.visible .fade-left {
  animation: fadeInLeft 1s ease 0.5s both;
}
.benefits.visible .fade-right {
  animation: fadeInRight 1s ease 0.5s both;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  pointer-events: none;
}

.services {
  background: var(--block-bg);
  border-radius: 30px;
  padding-inline: 65px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.services:hover .image {
  transform: translateY(-10px);
}
.services .image {
  position: relative;
  width: 100%;
  height: auto;
}
.services .image img {
  width: 100%;
}
.services .text {
  font-size: 13px;
}
.services .text a {
  color: #1F2258;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  display: block;
  text-decoration: none;
}

.video-container {
  position: relative;
}
.video-container img {
  width: 100%;
  height: auto;
  border-radius: 34px;
}

.video-section .play-btn {
  position: absolute;
  top: 90%;
  left: 5%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.4705882353);
  -webkit-backdrop-filter: blur(4.9px);
          backdrop-filter: blur(4.9px);
  border-radius: 50%;
  padding: 20px;
}
.video-section .text {
  margin-bottom: 56px;
}
.video-section .text h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: 0.47px;
}

.service-lottie {
  width: 300px;
  height: auto;
  cursor: pointer;
}

.rank-border {
  border-right: 1px solid #dee2e6;
}

.features-section {
  padding-block: 3rem;
}
.features-section h1 {
  font-size: 49px;
  font-weight: 800;
}
.features-section .descrip {
  color: var(--inner-text-color);
  font-size: 22px;
}
.features-section .gradient-bg {
  border-radius: 22px;
}
.features-section .gradient-bg img {
  width: 100%;
  height: auto;
}
.features-section .feature {
  box-shadow: 0px 0px 5.07px 0px rgba(0, 0, 0, 0.2509803922);
  background: var(--chart-bg);
  color: var(--text-color);
  border-radius: 18px;
  padding: 16px;
  margin-block: 12px;
  position: relative;
  transition: box-shadow 0.4s ease;
  overflow: hidden;
  z-index: 1;
}
.features-section .feature .description {
  color: var(--description-color);
}
.features-section .feature .description h5 {
  font-size: 18px;
  font-weight: 600;
}
.features-section .feature .description .para {
  line-height: 19px;
  font-weight: 600;
  font-size: 14px;
}
.features-section .feature::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: var(--gradient-color);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.features-section .feature:hover::before {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .navbar-nav .nav-item a {
    font-size: 12px;
  }
  .navbar .primary-button {
    padding-inline: 20px !important;
    font-size: 12px;
  }
  .navbar .theme-switch .form-check-input {
    width: 50px;
    height: 25px;
  }
  .navbar .theme-switch .form-check-label {
    font-size: 0.9rem;
  }
  .navbar .theme-switch input:checked + label {
    transform: translateX(25px);
  }
  .services-section::before {
    width: 150px;
  }
  .rank-section .inner-section span {
    font-size: 14px;
  }
  .rank-section .inner-section .rank-value {
    font-size: 25px;
  }
  .roadmap-section .roadmap .custom-list li {
    padding-inline: 20px;
  }
  .services {
    padding-inline: 40px;
  }
  .versions-section .v2-section,
  .versions-section .v1-section {
    padding: 32px;
  }
  .video-section .play-btn {
    padding: 12px;
  }
  .video-section .play-btn svg {
    width: 30px;
    height: 30px;
  }
  .slider-container h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 992px) {
  .graph-section .graph-text {
    font-size: 14px !important;
  }
  .graph-section .image img {
    max-width: 100%;
    height: auto;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .image-container span {
    font-size: 12px !important;
  }
  .rank-section .inner-section span {
    font-size: 12px;
  }
  .rank-section .inner-section .rank-value {
    font-size: 20px;
  }
  .rank-section .inner-section .value {
    font-size: 18px;
  }
  .chart-section::after {
    height: 170px;
    width: 170px;
  }
  .chart-section::before {
    height: 100px;
    width: 100px;
    bottom: -5%;
  }
  .solution-section .accordion .accordion-button {
    font-size: 17px;
  }
  .solution-section .accordion .accordion-body {
    font-size: 14px;
  }
  .primary-tab {
    font-size: 13px;
    padding: 6px 30px;
  }
  .solution-section li {
    font-size: 17px;
  }
  .service-lottie {
    width: 200px;
  }
  .services {
    padding-inline: 35px;
    padding-block: 10px;
  }
  .services .text {
    font-size: 10px;
  }
  .services .text a {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 920px) {
  .video-section .play-btn {
    padding: 7px;
  }
  .rank-section .inner-section span {
    font-size: 12px !important;
  }
  .rank-section .inner-section .rank-value {
    font-size: 20px;
  }
  .roadmap-section .roadmap .custom-list li {
    padding-inline: 10px;
  }
  .graph-section .image {
    height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-section {
    background-image: none;
  }
  .navbar-brand {
    width: 30%;
  }
  .navbar-brand img {
    width: 100%;
    height: auto;
  }
  .features-section .feature {
    flex-direction: row;
  }
  .services-section::before {
    width: 50px;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .video-section .play-btn {
    padding: 4px;
  }
  .video-section .play-btn svg {
    width: 16px;
    height: 16px;
  }
  .chart-section::after {
    display: none;
  }
  .roadmap-section {
    background-position: center bottom;
  }
  .roadmap-section .roadmap {
    padding-bottom: 20px;
  }
  .solution-section {
    padding: 1rem !important;
  }
  .listing {
    padding-inline: 1rem !important;
  }
  .roadmap-section .roadmap .custom-list {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 2rem 1rem;
  }
  .roadmap-section .roadmap .custom-list li {
    flex: 0 0 auto;
    scroll-snap-align: center;
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    width: 12rem;
    text-align: left !important;
    padding-left: 30px !important;
    padding-top: 0;
    background-position: top left;
  }
  .graph-section .image {
    height: auto !important;
  }
  .rank-border {
    border-right: none !important;
  }
  .services {
    padding-block: 0 !important;
    padding-inline: 30px !important;
  }
  .services .text {
    font-size: 13px !important;
  }
  .services .text a {
    font-size: 13px !important;
    line-height: 20px !important;
  }
}/*# sourceMappingURL=main.css.map */